.emailList{
    flex: 1;
    overflow: scroll;
}
/* Hide scrollbar for chrome, safari and opera */
.emailList::-webkit-scrollbar{
    display: none;
}
/* Hide scrollbar for IE, edge and firefox */
.emailList{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.emailList__settings{
    position: sticky;
    top:0;
    display: flex;
    /* justify-content: space-between; */
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}
.emailList__sections{
    position: sticky;
    display: flex;
    top: 0;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}
@media (max-width:700px){
    .emailList__sections{
        flex-direction: column;
        /* width: 300px; */
    }
}
@media (max-width:590px){
    .emailList__settingsRight{
        display: none;
    }
}
.emailList__list{
    padding-bottom: 20%;
}
.emailList__settingsRight{
    margin-left: auto;
}